[package]
name = "seedling-md"
version = "0.1.0"
edition = "2021"
build = "build.rs"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1

[dependencies]

[build-dependencies]
winres = "0.1"
